name: Publish Release

on:
  workflow_dispatch:

jobs:
  publish_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: npm
      - run: npm ci
      - uses: release-drafter/release-drafter@v5
        id: release_drafter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: bump version
        run: |
          npm version "${{ steps.release_drafter.outputs.tag_name }}" --git-tag-version false
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git add .
          git commit -m ":bookmark: version bump"
          git push
      - name: upload to contentful
        run: |
          npm run build
          npm run upload-ci
        env:
          CONTENTFUL_ORG_ID: ${{ secrets.CONTENTFUL_ORG_ID }}
          CONTENTFUL_APP_DEF_ID: ${{ secrets.CONTENTFUL_APP_DEF_ID }}
          CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
          CONTENTFUL_BUNDLE_COMMENT: ${{ steps.release_drafter.outputs.tag_name }}
      - uses: release-drafter/release-drafter@v5
        id: release_drafter_publish
        with:
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
